<!-- core/templates/core/add_question.html -->

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>افزودن سوال به نظرسنجی</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2>افزودن سوال به نظرسنجی "{{ survey.title }}"</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">افزودن سوال</button>
        </form>
    </div>
</body>
</html>
