<!-- core/templates/core/dashboard.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>داشبورد شما</h1>
    <p>لیست نظرسنجی‌ها:</p>
    <ul class="list-group">
        {% for survey in surveys %}
            <li class="list-group-item">
                {{ survey.title }} 
                <a href="{% url 'add_question' survey.id %}" class="btn btn-info btn-sm">افزودن سوال</a>
            </li>
        {% empty %}
            <li class="list-group-item">هیچ نظرسنجی‌ای ایجاد نکرده‌اید.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_survey' %}" class="btn btn-success mt-3">ایجاد نظرسنجی جدید</a>
</div>
{% endblock %}
